/* 固定头部 */
.lt-header {
  line-height: 44px;
  background-color:#007aff;
	box-sizing: border-box;
}

.lt-header .mui-title{
	line-height: 50px;
	color: #fff;
}
.lt-header a{
	color: #fff;
}
.lt-header h1{
    font-size: 20px;
} 
/*底部导航栏*/
.lt-footer{
	background-color: #007aff;
	padding-top: 3px;
}
.lt-footer .mui-item{
	display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}
.lt-footer .mui-item.mui-active{
	color: orange; 
}
.lt-footer .mui-item span[class^="mui"]{
	display: block;
}
body{
    background-color: #fff;
}
/*中间部分*/
/*导航图*/
.content{
    margin-top: 60px;
    padding: 0 10px;
    background-color: #fff;
}
.content input{
    height: 45px;
    line-height: 25px;
}
/*验证码*/
.verify {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    margin-top: 20px;
}
.verify input{
    float: left;
    width: 44%;
}
.verify .ver-but{
    /*float: right;*/
    width: 44%;
    height: 44px;
}
.content .last-btn{
    width: 100%;
}